<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="IMG_PATH" value="E:\test\owin452\WebUI\Content\anduong.jpg" />
    <add key="HTML_PATH" value="E:\test\owin452\WebUI\index.html" />
    <add key="DOMAIN_LOCALHOST" value="https://192.168.8.90:4435/" />
  </appSettings>
</configuration>